/* --------------------
   az oldal fo stilusai
   -------------------- */
* {
	box-sizing: border-box;
}

h1, h2, h3, ul, ol, p, img {
    margin-bottom: 0.15rem;
}

body {
  background: #333455;
  color: white;
  font-size: 1.25rem;
  line-height: 1.25;
  align-items: center;
  vertical-align: middle;
  display: table-cell;
}

.name, .content, .youtube, .contact {
  width: 70%;
  margin: 0.5rem auto;
  padding: .5rem 1rem;
  text-align: center;
}

h1 {
  font-size: 2rem;
}

h1, h2 {
  font-family: fantasy;
}

p {
  font-family: monospace;
}

a {
  color: cadetblue;
}

a:hover {
  color: darkred;
  transition: color .15s ease-in-out;
}

/* -----------
   header resz
   ----------- */
.cover {
  background-color: hsla(0,0%,0%,.6);
  height: 80px;
}

.profileheader {
  width: 70%;
  margin: auto;
  margin-top: 0rem;
  text-align: center;
}

img {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  padding: 1px;
  background-color: #666;
  filter: grayscale(50%);
}

/* ----------------------
   nev szakma varos doboz
   ---------------------- */
.name {
  margin-top: 3rem;
}

/* -------------
   youtube doboz
   ------------- */
figure {
	height: 0;
	padding-bottom: 56.25%; /* 16:9 aspect ratio */
	position: relative;
}

figure iframe {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
}

/* ---------------
   contact stilusa
   --------------- */
.contact h2 {
  margin: 0rem auto;
  margin-bottom: 0.5rem;
}

ul {
  list-style-type: none;
}

li {
  display: inline;
}